<style>
  #footer {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 408px;
  }
  #footer .left {
    width: 515px;
  }
  #footer .right {
    width: 367px;
  }
  .bottom_copyright {
    margin-top: 100px;
  }
  .bottom_copyright span {
    font-size: 16px;
  }
  .bottom_copyright span:nth-child(1) {
    margin-bottom: 6px;
  }
  .right .right-top {
    margin-bottom: 24px;
  }
  .right .right-top span {
    display: block;
    font-weight: bold;
  }
  .right .right-top span:nth-child(1) {
    font-size: 24px;
  }
  .right .right-top span:nth-child(2) {
    font-size: 36px;
  }
  .right .right-mid {
    font-weight: bold;
  }
  .right .right-mid span {
    display: block;
    font-size: 16px;
    margin-bottom: 4px;
  }
</style>
<div id="footer">
  <div class="left">
    <div><img src="/web/images/ccds/renew_logo_black2.png" alt="로고" /></div>
    <div class="bottom_copyright">
      <span>휘트니스피플 우먼<br>753-87-02030<br>copyright &copy; fitness people all right reserved.</span><br />
      <span
        ><a href="/member/agreement.html">이용약관</a> |
        <a href="/member/privacy.html">개인정보처리방침</a> |
        <a href="/shopinfo/company.html">사업자정보확인</a></span
      >
    </div>
  </div>
  <div class="right">
    <div class="right-top">
      <span>customer service</span><span><br><br></span>
    </div>
    <div class="right-mid">
      <span>mon-fri : 06am ~ 11pm</span>
      <span>sat,sun,holiday : 10am ~ 08pm</span>
      <span>contact : <email>psi@fitnesspeople.co.kr</email></span>
    </div>
  </div>
</div>
