<!--section5 인스타그램-->
<style>
  /*이미지 */
  #section_5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
  }
  #section_5 > h3 {
    font-family: "GmarketSansMedium";
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 80px;
    color: #f0468c;
  }
  #section_5 > p {
    margin-bottom: 40px;
    font-size: 20px;
  }
  #section_5 > p > a {
    color: #f0468c;
  }
  #section_5 .container {
    width: 1240px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0 20px;
  }
  #section_5 .container > div {
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  #section_5 .container > div > img {  
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  #section_5 .section_4_btn {
    width: 210px;
    height: 60px;
    background-color: #f0468c;
    position: absolute;
    bottom: 35px;
    left: 50%;
    margin-left: -105px;
    border-radius: 20px;
  }
  #section_5 .section_4_btn > span {
    color: #fff;
    font-size: 24px;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
  }
</style>
<div id="section_5">
  <h3>instagram</h3>
  <p>
    <a href="https://www.instagram.com/fitnesspeople_woman/"
      >@fitnesspeople_woman</a
    >
  </p>
  <div class="container">
     <div onclick="javascript:window.location.href='https://www.instagram.com/p/DLULGbPTHT0/'">
      <img src="/web/images/ccds/ins2507(2).png" alt="300x300" />
    </div>
     <div onclick="javascript:window.location.href='https://www.instagram.com/p/DMFF1EzzbMn/'">
      <img src="/web/images/ccds/ins_2508.png" alt="300x300" />
    </div>
    <div onclick="javascript:window.location.href='https://www.instagram.com/p/DLULzFGTEUE/?img_index=1'">
      <img src="/web/images/ccds/ins_sawa.png" alt="300x300" />
    </div>
    <div onclick="javascript:window.location.href='https://www.instagram.com/p/DLULsUQzi0l/?img_index=1'">
      <img src="/web/images/ccds/ins_sawa(2).png" alt="300x300" />
    </div>      
    <div onclick="javascript:window.location.href='https://www.instagram.com/p/DKN9x_3Tphh/?img_index=1'">
      <img src="/web/images/ccds/ins_fpa1_web.png" alt="300x300" />
    </div>
  </div>
</div>
