<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
  <!-- PG크로스브라우징필수내용 -->
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta http-equiv="Pragma" content="no-cache" />
  <!-- // PG크로스브라우징필수내용 -->

  <title>기본 레이아웃</title>
  <!--@css(/layout/basic/css/xeicon.min.css)-->
  <!--@css(/layout/basic/css/common.css)-->
  <!-- 해당 CSS는 쇼핑몰 전체 페이지에 영향을 줍니다. 삭제와 수정에 주의해주세요. -->
  <!--@css(/layout/basic/css/layout.css)-->
  <!--@css(/layout/basic/css/ec-base-ui.css)-->
  <!--@css(/layout/basic/css/ec-base-tooltip.css)-->
  <!--@css(/layout/basic/css/ec-base-help.css)-->
  <!--@css(/layout/basic/css/ec-base-product.css)-->
  <!--@css(/layout/basic/css/ec-base-paginate.css)-->
  <!--@css(/layout/basic/css/ec-base-tab.css)-->
  <!--@css(/layout/basic/css/ec-base-button.css)-->
  <!--@css(/layout/basic/css/ec-base-box.css)-->
  <!--@css(/layout/basic/css/ec-base-table.css)-->
  <!--@css(/layout/basic/css/ec-base-desc.css)-->

  <!--@js(/layout/basic/js/basic.js)-->
  <!--@js(/js/common.js)-->
  <!--@js(/js/module/layout/quick_view.js)-->
  <link
    rel="stylesheet"
    href="//fastly.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>-->
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script type="text/javascript">
    window.jQuery1_11_2 = jQuery.noConflict(true);
  </script>
</head>
